@font-face {
  font-family: myFont;
  src: url(font/Goldman-Regular.ttf);
}

body {
  background-color: #03120E;
  color: white;
  font-family: myFont;
  overflow-x: hidden;
}

p{
  font-size: 20px;
  text-decoration: underline;
}

.puffer{
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.puffer:hover {
  transform: scale(1.1);
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: #03120ec4;
  border-radius: 10%;
  box-shadow: 10px 10px 100px white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.words {
  color: #03120E;
  font-size: 0px;
  line-height: 1;
  text-align: center;
}
.words span {
  font-size: 60px;
  display: inline-block;
  -webkit-animation: move 23s ease-in-out infinite;
  animation: move 10s ease-in-out infinite;
}

.words span:nth-child(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.words span:nth-child(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.words span:nth-child(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.words span:nth-child(4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.words span:nth-child(5) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.words span:nth-child(6) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.words span:nth-child(7) {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.words span:nth-child(8) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.words span:nth-child(9) {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}
.words span:nth-child(10) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.words span:nth-child(11) {
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}


@keyframes move {
  0% {
    -webkit-transform: translate(-155%, 0);
    transform: translate(-155%, 0);
  }
  50% {
    text-shadow: 0 15px 40px rgb(0, 0, 0);
  }
  100% {
    color: #8AB0AB;
    -webkit-transform: translate(155%, 0);
    transform: translate(155%, 0);
  }
}

.buttons {
  justify-content: center;
  max-width: 50px;
  max-height: 500px;
  font-size: 28px;
  padding: 20px;
  background-color: #8AB0AB;
  border-radius: 20% 0% 0% 20%;
  box-shadow: 10px 10px 100px #8AB0AB;
  cursor: pointer;

}

.hoverText {
  justify-content: center;
  max-width: 50px;
  max-height: 50px;
  font-size: 28px;
  padding: 20px;
  background-color: #8AB0AB;
  border-radius: 0% 20% 20% 0%;
  box-shadow: 10px 10px 100px #8AB0AB;
  cursor: pointer;
}

#clickColorButton {
  width: 50px;
  height: 50px;
}
#moveColor {
  width: 50px;
  height: 50px;
}

#gridDivs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1600px;
  height: 800px;
  cursor: url("Pics/mouseBucket.png"), auto;
}

#bigContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
  border-radius: 50%;
}
#controls {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}
.square {
  border-radius: 100%;
  background-color: white;
}

#mouseMoving {
  color: white;
}
#mouseClick {
  color: white;
}

input[type="button"] {
  width: 350px;
  border-radius: 40px;
  color: #231123;
  margin: 10px;
  font-family: myFont;
  font-size: 30px;
}

input[type="color"] {
  border-radius: 10px;
  background-color: aliceblue;
}
