body {
  background-color: #264653;
  color: white;
  text-align: center;
}

#gridTable {
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
  justify-content: center;
  
}
#bigContainer{
  display: flex;
  justify-content: center;
}
#controls{
  padding: 50px;
}
.square {
  border-radius: 100%; 
}

#mouseMoving {
  color: white;
}
#mouseClick {
  color: white;
}
#resetBtn {
  background-color: black;
  color: white;
}
#randomPaint{
  background-color: rgb(8, 8, 8);
  color: white;
}
